{% extends 'pap/base.html' %}

{% block headline %}
	<h3>신용카드 내역 조회</h3>
{% endblock %}

{% block topcontents %}
	<div class="x_title">
     	<h2>조회 조건</h2>
     	<ul class="nav navbar-right panel_toolbox">
            <li style="padding-right: 50px"><a class="showLoading-link"><i class="fa fa-search" title="조회"></i></a>
            </li>
        	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        	</li>
        	<li><a class="close-link"><i class="fa fa-close"></i></a>
        	</li>
     	</ul>
     	<div class="clearfix"></div>
 	</div>
 	<div class="x_content">
 		<div class="col-md-6">
	 		<form class="form-horizontal form-label-left">
	 			<div class="form-group">
		            <div class="col-md-2">             
	                  	<select class="form-control">
	                    	<option>승인일자</option>
                            <option>취소일자</option>
                            <option>전체일자</option>
	                  	</select>            
	                </div>
		            <div class="col-md-4">
		                <form class="form-horizontal">
		                  	<fieldset>
		                    	<div class="control-group">
		                      		<div class="controls">
		                        		<div class="input-prepend input-group">
		                          			<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
		                          			<input type="text" name="reservation" id="reservation" class="form-control" value="04/05/2019 - 04/05/2019" />
		                        		</div>
		                      		</div>
		                    	</div>
		                  	</fieldset>
		                </form>
		            </div>
                    <div class="col-md-6">
                        <div class="bs-example-popovers">
                          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
                            오늘
                          </button>
                          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
                            한달
                          </button>
                          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            세달
                          </button>
                          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            일주일
                          </button>
                        </div>
                    </div>        	
	            </div>
	        </form>
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >상태</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>승인</option>
                            <option>승인취소</option>
                            <option>매입요청</option>
                            <option>매입완료</option>
                            <option>매입취소</option>
                            <option>부분취소</option>
                            <option>거절</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="매입요청, 매입완료, 매입취소" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
                </div>
            </form>
	        <form class="form-horizontal form-label-left">
	            <div class="form-group">
                    <div class="col-md-2" style="text-align:right;">
                        <label class="control-label">검색조건</label>
                    </div>              	
		            <div class="col-md-3">
                        <select class="form-control">
                            <option></option>
                            <option>승인번호</option>
                            <option>거래번호</option>
                            <option>주문번호</option>
                            <option>카드번호</option>
                            <option>상품명</option>
                            <option>주문자ID</option>
                            <option>주문자명</option>
                            <option>주문자연락처</option>
                        </select>
	        		</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" class="flat" checked="checked"> ISP거래
                        </label>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >요청구분</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>단독인증</option>
                            <option>단독승인</option>
                            <option>빌키승인</option>
                            <option>인증+승인</option>
                            <option>MPI</option>
                            <option>ISP</option>
                            <option>Swipe</option>
                            <option>은련</option>
                            <option>페이핀</option>
                            <option>앱카드</option>
                            <option>LPAY</option>
                            <option>SSG페이</option>
                            <option>KICC간편결제</option>
                            <option>로켓페이</option>
                            <option>페이코</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="단독인증, 단독승인, 인증+승인" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-label-left">
                <div class="form-group">                
                    <div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >거래금액</label>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="최소금액">
                        </div>
                        <div class="col-md-1">
                                <label class="control-label" style="text-align:center;">~</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="최대금액">
                        </div>
                    </div>
	            </div>
	        </form>>
	    </div>
	    <div class="col-md-6">
	    	<form class="form-horizontal form-label-left">
	 			<div class="form-group">
			    	<div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >발급사</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>광주</option>
                            <option>국민</option>
                            <option>농협</option>
                            <option>롯데</option>
                            <option>롯데(신)</option>
                            <option>비씨</option>
                            <option>산은캐피탈</option>
                            <option>삼성</option>
                            <option>수협</option>
                            <option>신한</option>
                            <option>씨티</option>
                            <option>외환</option>
                            <option>우리</option>
                            <option>은련BC</option>
                            <option>전북</option>
                            <option>제주</option>
                            <option>조흥</option>
                            <option>한미</option>
                            <option>해외다이너스</option>
                            <option>해외아멕스</option>
                            <option>해외JCB</option>
                            <option>해외MASTER</option>
                            <option>해외VISA</option>
                            <option>현대</option>
                            <option>현대백화점</option>
                            <option>KT월드패스</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="신한, 우리, 비씨, 현대" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
	            </div>
	        </form>
	    	<form class="form-horizontal form-label-left">
	 			<div class="form-group">
			    	<div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >매입사</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>국민</option>
                            <option>농협</option>
                            <option>롯데</option>
                            <option>비씨</option>
                            <option>삼성</option>
                            <option>신한</option>
                            <option>외환</option>
                            <option>하나</option>
                            <option>한미</option>
                            <option>현대</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="국민, 현대" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
	            </div>
	        </form>
	        <form class="form-horizontal form-label-left">
	 			<div class="form-group">
	 				<div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >카드사포인트</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>Y</option>
                            <option>Y(적립)</option>
                            <option>N</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="전체" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
	            </div>
	        </form>
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >제휴서비스구분</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>(국민카드)베네세코리아 아이사랑카드 할인</option>
                            <option>(롯데카드)아이행복 제휴할인</option>
                            <option>(롯데카드)청구할인</option>
                            <option>(롯데카드)키자니아 선할인</option>
                            <option>(비씨카드)물품바우쳐 승인 거래</option>
                            <option>(비씨카드)키자니아 제휴할인</option>
                            <option>(삼성카드)키자니아 할인인증</option>
                            <option>(시티카드) VISA포인트</option>
                            <option>(현대카드)M포인트 청구할인</option>
                            <option>ARS 신용카드(오프라인)</option>
                            <option>ARS 신용카드(온라인)</option>
                            <option>세이브 결제 거래(카드사 공통)</option>
                            <option>이브릿지 발렛 서비스</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="(롯데카드)청구할인, ARS 신용카드(오프라인)" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-2" style="text-align:right;">
                        <label class="control-label" >VP카드</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>전체</option>
                            <option>경남은행</option>
                            <option>광주은행</option>
                            <option>교보증권</option>
                            <option>국민은행</option>
                            <option>농협(조합)</option>
                            <option>농협중앙회</option>
                            <option>대구은행</option>
                            <option>동부증권</option>
                            <option>미래에셋증권</option>
                            <option>부산은행</option>
                            <option>비씨카드</option>
                            <option>산업은행</option>
                            <option>새마을금고</option>
                            <option>수협은행</option>
                            <option>스탠다드차타드은행</option>
                            <option>신용협동조합</option>
                            <option>신한은행</option>
                            <option>씨티은행</option>
                            <option>우리은행</option>
                            <option>우체국</option>
                            <option>유안타증권</option>
                            <option>유진투자증권</option>
                            <option>저축은행</option>
                            <option>전북은행</option>
                            <option>제주은행</option>
                            <option>중국은행</option>
                            <option>축협</option>
                            <option>카카오뱅크</option>
                            <option>케이뱅크</option>
                            <option>코나카드</option>
                            <option>토스카드</option>
                            <option>하나카드</option>
                            <option>한국씨티은행</option>
                            <option>BK기업은행</option>
                            <option>KB국민카드</option>
                            <option>KB증권</option>
                            <option>KB현대증권</option>
                            <option>NH투자증권</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="tags_1" type="text" class="tags form-control" value="카카오뱅크,비씨카드,우체국,새마을금고,농협중앙회" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
                </div>
            </form>
	    </div>
 	</div>
{% endblock %}

{% block middlecontents %}
	<div class="x_title">
     	<h2>신용카드 거래내역 리스트</h2>
     	<ul class="nav navbar-right panel_toolbox">
        	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        	</li>
        	<li><a class="close-link"><i class="fa fa-close"></i></a>
        	</li>
     	</ul>
     	<div class="clearfix"></div>
 	</div>
 	<div class="x_content">
        <table id="datatable-buttons" class="table table-striped table-bordered">
        	<thead>
          		<tr>
           			<th style="text-align:center;">요청구분</th>
                    <th style="text-align:center;">상태</th>
                    <th style="text-align:center;">승인일시</th>
                    <th style="text-align:center;">취소일시</th>
                    <th style="text-align:center;">거래금액</th>
                    <th style="text-align:center;">쿠폰금액</th>
                    <th style="text-align:center;">포인트사용금액</th>
                    <th style="text-align:center;">총취소금액</th>
                    <th style="text-align:center;">할부개월</th>
                    <th style="text-align:center;">카드사포인트</th>
                    <th style="text-align:center;">승인번호</th>
                    <th style="text-align:center;">카드번호</th>
                    <th style="text-align:center;">주문자ID</th>
                    <th style="text-align:center;">주문자명</th>
                    <th style="text-align:center;">상품명</th>
                    <th style="text-align:center;">거래번호</th>
                    <th style="text-align:center;">주문번호</th>
                    <th style="text-align:center;">발급사</th>
                    <th style="text-align:center;">매입사</th>
                    <th style="text-align:center;">VP카드</th>
                    <th style="text-align:center;">주문자연락처</th>
                    <th style="text-align:center;">이메일</th>
                    <th style="text-align:center;">가맹점번호</th>
                    <th style="text-align:center;">제휴서비스구분</th>
                    <th style="text-align:center;">개인/법인</th>
                    <th style="text-align:center;">Client구분</th>
                    <th style="text-align:center;">매출전표</th>
                    <th style="text-align:center;">취소담당자ID</th>
                    <th style="text-align:center;">상태메세지</th>
                    <th style="text-align:center;">메모</th>
          		</tr>
      		</thead>
     	</table>
 	</div>
{% endblock %}



{% block scripts %}
	<!-- Datatables -->
    <script src="../../static/pap/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../../static/pap/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../../static/pap/vendors/jszip/dist/jszip.min.js"></script>
    <script src="../../static/pap/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../static/pap/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $('datatable-buttons').DataTable();
    </script>
{% endblock %}