{% extends 'pap/base.html' %}

{% block headline %}
	<h3>카드 배치 조회</h3>
{% endblock %}


{% block topcontents %}
	<div class="x_title">
      <h2>조회 조건</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li style="padding-right: 50px"><a class="showLoading-link"><i class="fa fa-search" title="조회"></i></a>
        </li>
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
  	</div>
  	<div class="x_content">
    	<div class="col-md-8">
    		<form class="form-horizontal form-label-left">
		        <div class="form-group">
		          <div class="col-md-1" style="text-align:right;">             
		            <label class="control-label" >조회일자</label>            
		          </div>
		          <div class="col-md-4">
		            <form class="form-horizontal">
		              <fieldset>
		                <div class="control-group">
		                  <div class="controls">
		                    <div class="input-prepend input-group">
		                      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
		                      <input type="text" name="reservation" id="reservation" class="form-control" value="04/05/2019 - 04/05/2019" />
		                    </div>
		                  </div>
		                </div>
		              </fieldset>
		            </form>
		          </div>
		          <div class="col-md-4">
		            <div class="bs-example-popovers">
		              <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
		                오늘
		              </button>
		              <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
		                한달
		              </button>
		              <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
		                세달
		              </button>
		              <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
		                일주일
		              </button>
		            </div>
		          </div>        
		        </div>
		      </form>
    	</div>
  	</div>
{% endblock %}


{% block middlecontents %}
	<div class="x_title">
     	<h2>카드 배치 리스트</h2>
     	<ul class="nav navbar-right panel_toolbox">
        	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        	</li>
        	<li><a class="close-link"><i class="fa fa-close"></i></a>
        	</li>
     	</ul>
     	<div class="clearfix"></div>
 	</div>
 	<div class="x_content">
        <table id="datatable-buttons" class="table table-striped table-bordered">
        	<thead>
          		<tr>
                    <th style="text-align:center;">요청일시</th>
                    <th style="text-align:center;">처리일시</th>
                    <th style="text-align:center;">파일명</th>
                    <th style="text-align:center;">요청건수</th>
                    <th style="text-align:center;">요청자명</th>
                    <th style="text-align:center;">정상건수</th>
                    <th style="text-align:center;">거절건수</th>
                    <th style="text-align:center;">엑셀다운</th>
          		</tr>
      		</thead>
     	</table>
 	</div>

{% endblock %}


{% block scripts %}
	<!-- Datatables -->
    <script src="../../static/pap/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../../static/pap/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../../static/pap/vendors/jszip/dist/jszip.min.js"></script>
    <script src="../../static/pap/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../static/pap/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $('datatable-buttons').DataTable();
    </script>
{% endblock %}