{% extends 'pap/base.html' %}

{% block headline %}
	<h3>지급일자별 조회</h3>
{% endblock %}

{% block topcontents %}
	<div class="x_title">
   	<h2>조회 조건</h2>
   	<ul class="nav navbar-right panel_toolbox">
      <li style="padding-right: 50px"><a class="showLoading-link"><i class="fa fa-search" title="조회"></i></a></li>
    	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    	<li><a class="close-link"><i class="fa fa-close"></i></a></li>
   	</ul>
   	<div class="clearfix"></div>
 	</div>
 	<div class="x_content">
 		<div class="col-md-12">
	 		<form class="form-horizontal form-label-left">
	 			<div class="form-group">
          <div class="col-md-1" style="text-align:right;">             
            <label class="control-label" >지급일자</label>            
          </div>
          <div class="col-md-2">
            <form class="form-horizontal">
            	<fieldset>
              	<div class="control-group">
              		<div class="controls">
                		<div class="input-prepend input-group">
                			<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                			<input type="text" name="reservation" id="reservation" class="form-control" value="04/05/2019 - 04/05/2019" />
                		</div>
              		</div>
              	</div>
            	</fieldset>
            </form>
          </div>
          <div class="col-md-6">
            <div class="col-md-5">
              <div class="bs-example-popovers">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
                  오늘
                </button>
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
                  한달
                </button>
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                  세달
                </button>
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                  일주일
                </button>
              </div>
            </div>
          </div>                   	
        </div>
      </form>
    </div>
 	</div>
{% endblock %}

{% block middlecontents %}
	<div class="x_title">
     	<h2>지급일자별 리스트</h2>
     	<ul class="nav navbar-right panel_toolbox">
        	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        	</li>
        	<li><a class="close-link"><i class="fa fa-close"></i></a>
        	</li>
     	</ul>
     	<div class="clearfix"></div>
 	</div>
 	<div class="x_content">
        <table id="datatable-buttons" class="table table-striped table-bordered">
        	<thead>
          		<tr>
           			<th style="text-align:center;">지급일자</th>
                    <th style="text-align:center;">가맹점명</th>
                    <th style="text-align:center;">거래금액</th>
                    <th style="text-align:center;">수수료</th>
                    <th style="text-align:center;">부가세</th>
                    <th style="text-align:center;">지급예정액</th>
                    <th style="text-align:center;">실지급액</th>
                    <th style="text-align:center;">미수금액</th>
                    <th style="text-align:center;">강제차감금액</th>
                    <th style="text-align:center;">예치금액</th> 
                    <th style="text-align:center;">강제차감사유</th>
                    <th style="text-align:center;">통합정산서</th>
                    <th style="text-align:center;">정산상세</th>
          		</tr>
      		</thead>
     	</table>
 	</div>
{% endblock %}



{% block scripts %}
	<!-- Datatables -->
    <script src="../../static/pap/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../static/pap/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../../static/pap/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../../static/pap/vendors/jszip/dist/jszip.min.js"></script>
    <script src="../../static/pap/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../static/pap/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $('datatable-buttons').DataTable();
    </script>
{% endblock %}